* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* =================================Header CSS========================= */

.h-upper {
  background: linear-gradient(89.28deg, #7b2334 5.99%, #9f3247 94.17%);
  padding: 0.7rem;
  position: relative;
}
.h-upper img {
  position: absolute;
  right: 2%;
  bottom: 25%;
}
.h-paragraph {
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
}
#signUpSpan {
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}
.n-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem;
}
.n-right-Con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.n-anchortagsContainer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 2rem;
}
.n-anchortagsContainer li a {
  text-decoration: none;
  color: black;
}
.n-anchortagsContainer li:nth-child(1) {
  background-color: #9f3247;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
}
.n-searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  padding-inline: 1rem;
  position: relative;
  border-radius: 20px;
  width: 50%;
  height: 7vh;

  background-color: #f0f0f0;
}
.n-searchBar input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #f0f0f0;
}
.n-searchBar input::placeholder {
  color: #00000066;
}
.iconscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* ==========================Footer CSS ============================= */
.footerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f0f0f0;
  margin-top: 11rem;
  padding: 2rem 3rem;
}
.upperDiv {
  align-self: center;
  background: #7b2334;
  position: absolute;
  top: -47%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 20px;
}
.leftCon h1 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.rightCon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
.emailInput {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
  width: 250px;
  position: relative;
  background-color: white;
  border-radius: 25px;
}
.emailInput input {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
}
.rightCon button {
  color: #9f3247;
  background: white;
  border-radius: 25px;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.footerAnchorTagsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
.logoAnchorTags {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.logoAnchorTags > img:nth-child(1) {
  width: 8rem;
}
.logoAnchorTags p {
  color: #9f3247;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.anchorTagsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.anchorTagsContainer h1 {
  color: #9f3247;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
.anhorTags {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.anhorTags a,
.copyrightPara {
  text-decoration: none;
  color: #9f3247;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
.dividerFooter {
  height: 1px;
  background-color: #9f3247;
  opacity: 0.8;
}
#bar-icon {
  display: none;
}
#searchVector {
  display: none;
}
.footerAnchorTagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

/* =======================================Responsiveness Header and Footer ============================================== */
@media screen and (max-width: 750px) {
  .n-anchortagsContainer {
    display: none;
  }
  #bar-icon {
    display: flex;
    width: 2rem;
    height: 2rem;
  }
  .n-left-logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .n-searchBar {
    display: none;
  }
  .n-right-Con {
    justify-content: flex-end;
  }
  #searchVector {
    display: flex;
  }

  .footerAnchorTagsContainer {
    flex-wrap: wrap;
    justify-content: start;
  }
  #fullScreenPara {
    display: none;
  }
  #responsivePara {
    display: flex;
  }
  .footerAnchorTagsWrapper {
    flex-direction: column;
    margin-top: 3rem;
  }
  .rightCon {
    padding: 1rem 0rem;
  }
  .emailInput {
    width: 100%;
  }
  .upperDiv {
    flex-direction: column;
    top: -20%;
  }
}
